{% extends 'base.html' %}
{% block title %}About Us{% endblock %}

{% block body %}

<div id="about" class="row align-items-center justify-content-center
static-height">
        <div class="col-5">
          <p> 
               <h2>Open Minded Humans</h2>

               <p>Open Minded Humans is a project dreamed up during a 12-week accelerated software engineering bootcamp.</p>
               <p>After having a few meaningful holistic experiences during 2020, the creator, Becca, decided that she wanted to be able to search for offerings near her home in order to continue her spiritual and holistic healing.</p>
               <p>This webapp is meant to provide a space for users to search for holistic and alternative medicinal services, as well as contact the businesses that have the offerings. A Google Calendar is included for users to see upcoming events that these businesses are putting on.</p>
          </p>
        </div>
        <div class="col-2" id="portraitBox">
          <img id="portrait" src="/static/jpeg/IMG-0724.JPG">

        </div>
        
      </div>
    
</div>

{% endblock %}