{% extends 'base.html' %}
{% block title %}All Businesses{% endblock %}

{% block body %}
    <h1>All Businesses</h1>

    <ul>
        {% for business in all_bus %}
            <div id="business{{ business.bus_id }}">
                <h4>{{ business.bus_name }} - {{ business.service.name_serv }} ---- <button class="fave-btn" id="{{ business.bus_id }}"><i class="fas fa-heart"></i></button></h4>
                <h2><a href="/directory/{{ business.bus_id }}">more info</a></h2>
                <img src="static/jpeg/{{ business.image }}" width="200" height="150">
                <p>{{ business.description }}</p>
                <br>
                <p><button class="upcoming-evts">Upcoming Events</button></p>
            </div>
        {% endfor %}
    </ul>
    <script src="/static/js/user_faves.js"></script>
{% endblock %}
