<!-- Create a registration form for a business -->

{% extends 'base.html' %}
{% block title %}Business Registration{% endblock %}

{% block body %}
<div id="bus-box" class="row align-items-center justify-content-center">
<div class="col-4">
    <h1>Please Create a Business Account</h1>
    <form action="/business-registration" method="POST" enctype="multipart/form-data">
        <div class="active-cyan-4 mb-4">
            <input type="text" name="bus_name" class="form-control" placeholder="business name" required>
        </div>
        <div class="form-group">
            <!-- <label for="servicesProvided">Services Provided</label> -->
                <select class="custom-select" id="customSelect" name="name_serv" placeholder="Services Provided">
                    <option selected>Services Provided</option>
                    <option value="bodywork">Bodywork</option>
                    <option value="breathwork">Breathwork</option>
                    <option value="energy-work">Energy Work</option>
                    <option value="fitness">Fitness</option>
                    <option value="halotherapy">Halotherapy</option>
                    <option value="meditation">Meditation</option>
                    <option value="mental-health">Mental Health</option>
                    <option value="nutrition">Nutrition</option>
                    <option value="sound-healing">Sound Healing</option>
                    <option value="yoga">Yoga</option>
                    <option value="">Other</option>
                </select> 
            </div>
        <div class="active-cyan-4 mb-4">
            <input type="text" name="description" class="form-control" placeholder="description" required>
        </div>
        <div class="active-cyan-4 mb-4">
            <input type="text" name="url" class="form-control" placeholder="website url"
            required>
        </div>
        <div class="active-cyan-4 mb-4">
            <input type="text" name="address" class="form-control" placeholder="address" required>
        </div>
        <div class="active-cyan-4 mb-4">
            <input type="text" name="email" class="form-control" placeholder="email address" required>
        </div>
        <div class="active-cyan-4 mb-4">
            <input type="password" name="bus_passwrd" class="form-control" placeholder="password" required>
        </div>
        <div class="active-cyan-4 mb-4">
            <input type="tel" id="phone" name="tel"
            pattern="[0-9]{3}[0-9]{3}[0-9]{4}" class="form-control" placeholder="555-555-5555" required>
        </div>
        <div class="active-cyan-4 mb-4 custom-file">
            <label class="custom-file-label" for="customFile">Image Upload</label>
                <input type="file" class="custom-file-input" id="customFile" name="photo">
                <!-- <button type="submit">Save Photo</button> -->
        </div>

        <p>
            <button type="submit" id="bus-reg-submit" class="btn btn-info" name="submit">Register</button>
        </p>
    </form>
    </div>
</div>

    {% endblock %}