{% extends 'base.html' %}
{% block title %}Holistic Health Home{% endblock %}
{% block head %}{% endblock %}
{% block body %}
<div class="jumbotron text-center">
    <h1>Open Minded Humans</h1>
    <h3>A directory to find holistic and alternative medicinal</h3>
    
    <h3><a href="/signin">Login</a></h3>
    <br><br><br>
    <p>Maybe a few blog posts</p>
    <p>or general info about the website</p>
    <p>Here is a featured business: <span id="featured"></span>. Wow cool let's hope this works</p>
</div>
<div id="newsResults">
        <div class="row">
          <!-- <div class="col-md-4">
            One of three columns
          </div>
          <div class="col-md-4">
            Two of three columns
          </div>
          <div class="col-md-4">
            Three of three columns
          </div> -->
        </div>
</div>
    <script src="/static/js/loginmodal.js"></script>
    <script src="/static/js/home-news.js"></script>

{% endblock %}