{% extends 'base.html' %}
{% block title %}Holistic Health - Login {% endblock %}

{% block body %}

<h1>Welcome!</h1>
<br><br>

<p>Sign In</p>
<form action="/login" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>
    <p>
        Password <input type="password" name="password">
    </p>
    <p>
        <button type="submit" id="login-submit" name="login">Login</button>
    </p>
</form>
<p>Not registered? <a href="/user-registration">Create an account</a></p>


{% endblock %}