<!-- Create a registration form for a user -->

{% extends 'base.html' %}
{% block title %}Registration{% endblock %}

{% block body %}
<div id="register-box" class="row align-items-center justify-content-center">
    <div class="col-4">
    <h1>Please Create an Account</h1>
    <form action="/user-registration" method="POST">
        <div class="active-cyan-4 mb-4">
            <input type="text" class="form-control" placeholder="first name" name="fname" id="fname" required>
        </div>

        <div class="active-cyan-4 mb-4">
            <input type="text" name="lname" class="form-control" placeholder="last name" id="lname" required>
        </div>
        <div class="active-cyan-4 mb-4">
            <input type="text" name="email" class="form-control" placeholder="email address" id="user-email" required>
        </div>
        <div class="active-cyan-4 mb-4">
            <input type="password" name="password" class="form-control" placeholder="password" id="user-password" required>
        </div>
        <div class="active-cyan-4 mb-4">
            <input type="tel" name="tel" class="form-control" placeholder="555-555-5555" id="user-tel"
            pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
            required>
        </div>

        <p>
            <input type="submit" class="btn btn-info" id="user-register-btn">
        </p>
    </form>
    </div>
    </div>
    <script src="/static/js/user-register.js"></script>
    {% endblock %}