<!-- Create a registration form for a user -->

{% extends 'base.html' %}
{% block title %}Registration{% endblock %}

{% block body %}
    <h1>Please Create an Account</h1>
    <form action="/user-registration" method="POST">
        <p>
            First Name <input type="text" name="fname" id="fname" required>
        </p>

        <p>
            Last Name <input type="text" name="lname" id="lname" required>
        </p>
        <p>
            Email <input type="text" name="email" id="user-email" required>
        </p>
        <p>
            Password <input type="password" name="password" id="user-password" required>
        </p>
        <p>
            Mobile Number: <input type="tel" name="tel" id="user-tel"
            pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
            required>
        </p>

        <p>
            <input type="submit" id="user-register-btn">
        </p>
    </form>
    <script src="/static/js/user-register.js"></script>
    {% endblock %}